.manual {
	padding-top: 228rem;
	display: flex;
  margin-left: auto;
	align-items: center;
	position: relative;
	overflow: hidden;
  padding-bottom: 157rem;

	&__content {
		display: flex;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		gap: 65rem;
	}

	&__content-img {
		width: 517rem;
		height: 517rem;

		img {
			-o-object-fit: contain;
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}

	&__content-info {
		display: flex;
		gap: 78rem;
    margin-top: 44rem;
    width: 1218rem;
    justify-content: flex-start;
		padding-top: 55rem;
		border-top: 2rem solid #ffffff30;
	}

	&__content-title {
		display: flex;
		flex-direction: column;
		gap: 20rem;

    p {
      width: 351rem;
      color: #FFF;
      font-family: AkzidenzGroteskPro;
      font-size: 24rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }

    span {
      color: #FFF;
      font-family: EuclidCircularA;
      font-size: 28rem;
      font-style: normal;
      font-weight: 400;
      line-height: 36rem;
    }
	}

	&__content-details {
		display: flex;
		flex-direction: column;
		gap: 30rem;
    width: 669rem;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 20rem;
	}

	&__details-item {
		display: flex;
		align-items: flex-start;
		gap: 16rem;

		span {
			font-family: AkzidenzGroteskPro;
			font-size: 18rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.54rem;
			text-transform: uppercase;
		}
	}

	&__details-text {
		color: #7f8793;
		font-family: EuclidCircularA;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	&__item-text {
		font-family: EuclidCircularA;
		font-size: 18rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		color: #7f8793;

		span {
			text-transform: none;
			font-family: EuclidCircularA;
			color: #f7507f;
		}
	}


}

@media (max-width: 48em) {
	.manual {
		padding-top: 106rem;
		padding-bottom: 30rem;

    &__content-img {
      margin: 0 auto;
      width: 304rem;
      height: 304rem;
    }

    &__content {
      flex-direction: column;
      gap: 0;
    }

    &__content-details {
      width: 100%;
      gap: 19rem;
    }

    &__content-info {
      flex-direction: column;
      width: 100%;
      border: 0;
      margin-top: 0;
      padding-top: 44rem;
      gap: 45rem
    }

    &__details-text {
      font-size: 15rem;
      font-style: normal;
      font-weight: 500;
      line-height: 135%;
      padding: 0 20rem;
    }

    ul {
      padding: 0 20rem;
      gap: 20.5rem
    }

    &__details-item {
      gap: 8rem;

      span {
        font-size: 12rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.36rem;
      }
    }

    &__item-text {
      font-size: 15rem;
      font-style: normal;
      font-weight: 500;
      line-height: 135%;
    }

    &__content-title {
      gap: 11rem;
      border-bottom: 2rem solid #ffffff30;
      padding: 0 20rem;
      padding-bottom: 43rem;

      p {
        width: 100%;
        font-size: 22rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }

      span {
        font-size: 15rem;
        font-style: normal;
        font-weight: 500;
        line-height: 135%;
      }
    }
	}
}
