// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color_black: #161414;
$color_white: #fff;
$color_pink: #F7507F;
$color_gray: #7F8793;

$main_bg: #161414;

// FONTS
// stylelint-disable-next-line
$font-primary: EuclidCircularA, sans-serif;

// EASING TRANSITIONS
$duration-normal: 0.4s;