@import "variables";
@import "fonts";
@import "base";

@import "components/header";
@import "components/section";
@import "components/btns";
@import "components/swipers";
@import "components/banner";
@import "components/socials";
@import "components/novelties";
@import "components/advantages";

h1 {
	font-family: AkzidenzGroteskPro;
	font-weight: 700;
	font-size: 45rem;
	line-height: 58rem;
}