header.header
	.container
		button.burger
			.bar
			.bar
			.bar

		.menu
			nav
				ul.nav
					li #[a(href="") Каталог]
					li #[a(href="") О нас]
					li #[a(href="") бренд]
					li #[a(href="") ответственность]
					li #[a(href="") Партнерам]
					li #[a(href="") Контакты]

			a.btn.btn_simple.request_btn(href="") оставить заявку

			a.logo(href="")
				img(src="img/logo.svg", alt="Fummo")

	.line
		include ../svg/line_header