section.section.advantages
	.container
		.advantages__top
			.section__title.advantages__title
				span 5
				| основных преимуществ
				include ../svg/star.pug

			a.btn(href="")
				span ответственнось
				include ../svg/btn_arrow.pug

		ol.advantages__list
			li.advantage
				.advantage__top
					.advantage__img
						img(src="img/advantages/advantage1", alt="advantage")
					.advantage__num 01
				.advantage__title премиальное качество изделий
				.advantage__text Созданы с применением современных инновационных технологий, обеспечивающих защиту потребителя от негативного влияния наполнителей
