section.section.banner_response
	.bg
		img(src="img/banner_response/banner_response_bg.png", alt="")
		.stars
			img(src="img/banner/banner_stars.png", alt="")

	.container
		.section__title Ответственность компании
