section.section.banner_about
	.bg
		img(src="img/banner_about/banner_about_bg.svg", alt="")
	.container
		.section__title
			span FUMMO 
			| Новый лидер на рынке электронных сигарет
		.text премиальное качество
		.btns
			a.btn(href="")
				span ответственность
				include ../svg/btn_arrow

			a.btn.btn_transparent(href="")
				span бренд
				include ../svg/btn_arrow