section.section.certificates
	.container
		.section__title Сертификаты
		.section__text Продукция FUMMO соответсвует всем современным стандартам безопасности, а также прошла государственную сертификацию. Ниже вы можете ознакомиться с сертификатами соответвсвия на электронные сигареты FUMMO.

		.certificates__list
			.certificate
				.certificate__title Декларации о соответствии FUMMO 400
				a.btn(href="")
					span
						span.desctop скачать
						| pdf
					include ../svg/btn_arrow
				.certificate__bg
					img(src="img/certificates/certificate_bg.png", alt="")
				.certificate__border

			.certificate
				.certificate__title Декларации о соответствии FUMMO Classic 1000
				a.btn(href="")
					span
						span.desctop скачать
						| pdf
					include ../svg/btn_arrow
				.certificate__bg
					img(src="img/certificates/certificate_bg.png", alt="")
				.certificate__border

			.certificate
				.certificate__title Декларации о соответствии FUMMO OLYMP 2200
				a.btn(href="")
					span
						span.desctop скачать
						| pdf
					include ../svg/btn_arrow
				.certificate__bg
					img(src="img/certificates/certificate_bg.png", alt="")
				.certificate__border

			.certificate
				.certificate__title Декларации о соответствии FUMMO PRIME 1600
				a.btn(href="")
					span
						span.desctop скачать
						| pdf
					include ../svg/btn_arrow
				.certificate__bg
					img(src="img/certificates/certificate_bg.png", alt="")
				.certificate__border

			.certificate
				.certificate__title Декларации о соответствии FUMMO 400
				a.btn(href="")
					span
						span.desctop скачать
						| pdf
					include ../svg/btn_arrow
				.certificate__bg
					img(src="img/certificates/certificate_bg.png", alt="")
				.certificate__border

			.certificate
				.certificate__title Сертификат соответствия жидкости FUMMO Classic 1000
				a.btn(href="")
					span
						span.desctop скачать
						| pdf
					include ../svg/btn_arrow
				.certificate__bg
					img(src="img/certificates/certificate_bg.png", alt="")
				.certificate__border

			.certificate
				.certificate__title Сертификат соответствия жидкости FUMMO PRIME 1600
				a.btn(href="")
					span
						span.desctop скачать
						| pdf
					include ../svg/btn_arrow
				.certificate__bg
					img(src="img/certificates/certificate_bg.png", alt="")
				.certificate__border

			.certificate
				.certificate__title Сертификат соответствия технических средств FUMMO Classic 1000
				a.btn(href="")
					span
						span.desctop скачать
						| pdf
					include ../svg/btn_arrow
				.certificate__bg
					img(src="img/certificates/certificate_bg.png", alt="")
				.certificate__border

			.certificate
				.certificate__title Сертификат соответствия технических средств FUMMO OLYMP 2200
				a.btn(href="")
					span
						span.desctop скачать
						| pdf
					include ../svg/btn_arrow
				.certificate__bg
					img(src="img/certificates/certificate_bg.png", alt="")
				.certificate__border

			.certificate
				.certificate__title Сертификат соответствия технических средств FUMMO PRIME 1600
				a.btn(href="")
					span
						span.desctop скачать
						| pdf
					include ../svg/btn_arrow
				.certificate__bg
					img(src="img/certificates/certificate_bg.png", alt="")
				.certificate__border