section.section.descr
	.container
		.section__title FUMMO – это постоянно растущая компания
		.text
			| Компания FUMMO была основана с целью улучшить жизни потребителей сигарет. Мы хотим не только расширить опыт твоего парения,
			br
			| но и построить своё комьюнити. Здесь мы делимся всеми статьями
			br
			| и обзорами на наш бренд - погружайся и узнавай новое вместе с нами. Этот блог полезен для пользователей, которые хотели бы узнать больше
			br
			| о нас и нашем продукте.

		a.btn(href="")
			span каталог
			include ../svg/btn_arrow