section.section.news
	.container
		.news__top
			.section__title Новости

			.filter
				.indicator
				button.filter_btn.active(type="button") все
				button.filter_btn(type="button") блог
				button.filter_btn(type="button") сми

		.news__container

			.item.item_bg
				.item__preview
					button.play_button(type="button")
					img(src="img/news/news1.png", alt="")
				.item__date 01.05.23
				.item__title Расширение палитры вкусов от Deep Vape — Yester

			.item
				.item__preview
					button.play_button(type="button")
					img(src="img/news/news2.png", alt="")
				.item__date 01.05.23
				.item__title Расширение палитры вкусов от Deep Vape — Yester

			.item
				.item__preview
					button.play_button(type="button")
					img(src="img/news/news2.png", alt="")
				.item__date 01.05.23
				.item__title Расширение палитры вкусов от Deep Vape — Yester

			.item.item_bg
				.item__preview
					button.play_button(type="button")
					img(src="img/news/news1.png", alt="")
				.item__date 01.05.23
				.item__title Расширение палитры вкусов от Deep Vape — Yester

		a.btn.more(href="")
			span загрузить ещё
			include ../svg/btn_arrow