section.section.novelties
	.container
		.novelties__top
			.swiper_control
				button.swiper-button-prev(type="button") назад
				button.swiper-button-next(type="button") вперед

			.section__title наши новинки

			a.btn(href="")
				span в каталог
				include ../svg/btn_arrow

		.swiper.swiper_novelties
			.swiper-wrapper
				.swiper-slide
					.novelty
						.novelty__border
						.novelty__title TROPICAL fruits
						.novelty__img
							img(src="img/novelties/novelty1.png", alt="novelty1")
						.novelty__info
							| затяжек
							strong до 1500
						a.btn.novelty__info(href="")
							span подробнее
							include ../svg/btn_arrow

				.swiper-slide
					.novelty
						.novelty__border
						.novelty__title TROPICAL fruits
						.novelty__img
							img(src="img/novelties/novelty1.png", alt="novelty1")
						.novelty__info
							| затяжек
							strong до 1500
						a.btn.novelty__info(href="")
							span подробнее
							include ../svg/btn_arrow

				.swiper-slide
					.novelty
						.novelty__border
						.novelty__title TROPICAL fruits
						.novelty__img
							img(src="img/novelties/novelty1.png", alt="novelty1")
						.novelty__info
							| затяжек
							strong до 1500
						a.btn.novelty__info(href="")
							span подробнее
							include ../svg/btn_arrow

				.swiper-slide
					.novelty
						.novelty__border
						.novelty__title TROPICAL fruits
						.novelty__img
							img(src="img/novelties/novelty1.png", alt="novelty1")
						.novelty__info
							| затяжек
							strong до 1500
						a.btn.novelty__info(href="")
							span подробнее
							include ../svg/btn_arrow

				.swiper-slide
					.novelty
						.novelty__border
						.novelty__title TROPICAL fruits
						.novelty__img
							img(src="img/novelties/novelty1.png", alt="novelty1")
						.novelty__info
							| затяжек
							strong до 1500
						a.btn.novelty__info(href="")
							span подробнее
							include ../svg/btn_arrow

