section.section.novelties
	.container
		.novelties__top
			.swiper_control
				button.swiper-button-prev(type="button") назад
				button.swiper-button-next(type="button") вперед

			.section__title наши новинки

			a.btn(href="")
				span в каталог
				include ../svg/btn_arrow

		.novelties__filter
			.indicator
			button.novelties__filter_btn.active(type="button") все
			button.novelties__filter_btn(type="button") target
			button.novelties__filter_btn(type="button") bravo
			button.novelties__filter_btn(type="button") supreme

		.swiper.swiper_novelties
			.swiper-wrapper
				.swiper-slide
					.novelty
						.novelty__border
						.novelty__title TROPICAL fruits
						.novelty__img
							img(src="img/novelties/novelty1.png", alt="novelty1")
						.novelty__info
							span затяжек
							strong до 1500
						a.btn.novelty__btn(href="")
							span подробнее
							include ../svg/btn_arrow

				.swiper-slide
					.novelty
						.novelty__border
						.novelty__title FOREST BERRIES
						.novelty__img
							img(src="img/novelties/novelty2.png", alt="novelty2")
						.novelty__info
							span затяжек
							strong до 1500
						a.btn.novelty__btn(href="")
							span подробнее
							include ../svg/btn_arrow

				.swiper-slide
					.novelty
						.novelty__border
						.novelty__title ICE WATERMELON
						.novelty__img
							img(src="img/novelties/novelty3.png", alt="novelty3")
						.novelty__info
							span затяжек
							strong до 1500
						a.btn.novelty__btn(href="")
							span подробнее
							include ../svg/btn_arrow

				.swiper-slide
					.novelty
						.novelty__border
						.novelty__title SWEET STRAWBERRY
						.novelty__img
							img(src="img/novelties/novelty4.png", alt="novelty4")
						.novelty__info
							span затяжек
							strong до 1500
						a.btn.novelty__btn(href="")
							span подробнее
							include ../svg/btn_arrow

				.swiper-slide
					.novelty
						.novelty__border
						.novelty__title TROPICAL fruits
						.novelty__img
							img(src="img/novelties/novelty1.png", alt="novelty1")
						.novelty__info
							span затяжек
							strong до 1500
						a.btn.novelty__btn(href="")
							span подробнее
							include ../svg/btn_arrow

