svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
	path(d="M7.12802 24.0987L24.0981 7.12766M24.0981 7.12766C24.0981 7.12766 17.545 15.4626 24.3757 22.2933M24.0981 7.12766C24.0981 7.12766 15.7631 13.6807 9.52645 7.44401" fill="none" stroke="#171414" stroke-width="1.5")