svg(width="1920" height="111" viewBox="0 0 1920 111" fill="none" xmlns="http://www.w3.org/2000/svg")
	path(d="M1933 0.5H1096.79C1093.37 0.5 1090.05 1.67171 1087.38 3.82043L959.12 107.18C956.454 109.328 953.133 110.5 949.708 110.5H-12" stroke="url(#paint0_linear_168_3030)" stroke-opacity="0.3" fill="none")
	defs
		linearGradient(id="paint0_linear_168_3030" x1="1450" y1="36.9998" x2="350.736" y2="737.381" gradientUnits="userSpaceOnUse")
			stop(stop-color="white")
			stop(offset="0.947988" stop-color="white" stop-opacity="0")