svg(width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg")
	path(d="M24.9995 0L25.7419 24.7427L49.9995 25.5L25.7419 26.2573L24.9995 51L24.257 26.2573L-0.000549316 25.5L24.257 24.7427L24.9995 0Z" fill="#D9D9D9")