.banner {

	.swiper {
		overflow: visible;

		.container {
			position: relative;
			flex-grow: 1;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			max-width: 1722rem;
			height: 100%;
		}

		&-button {

			&-prev,
			&-next {
				position: relative;
				top: unset;
				left: unset;
				right: unset;
				margin: 0;
			}
		}

	}

	.slide {
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 105.3vh;

		&__list {
			position: relative;
			align-self: flex-start;
			max-width: 295rem;
			margin: 20.2% 10rem 0 0;
			padding: 0;

			li {
				display: flex;
				align-items: center;
				font-family: AkzidenzGroteskPro, sans-serif;
				font-weight: 700;
				font-size: 18rem;
				line-height: 23rem;
				letter-spacing: 0.5rem;
				text-transform: uppercase;

				&:not(:last-child) {
					margin-bottom: 40rem;
				}
			}

			.num {
				min-width: 23rem;
				text-align: center;
				margin-left: -8rem;
				margin-right: 27rem;
				font-family: EuclidCircularA, sans-serif;
				leading-trim: both;
				text-edge: cap;
				background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 150%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}

			.line {
				position: absolute;
				top: -184rem;
				right: -131rem;
				width: 547rem;
				height: 581rem;
				pointer-events: none;

				svg {
					display: block;
					width: 100%;
				}
			}
		}

		&__inner {
			align-self: end;
			max-width: 752rem;
		}

		&__title {
			margin: 0 0 28rem;
			text-transform: uppercase;

			span {
				color: $color_pink;
			}
		}

		&__text {
			align-self: flex-start;
			max-width: 307rem;
			margin-right: 8rem;
			margin-top: 18%;
			font-size: 28rem;
			line-height: 36rem;

			strong,
			span {
				font-weight: 600;
				color: $color_pink;
			}
		}
	}

	&__bottom {
		position: relative;
		margin-top: -7rem;
		z-index: 2;

		.container {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;

			&::after,
			&::before {
				content: '';
				position: absolute;
				top: -33rem;
				left: -120rem;
				width: 979rem;
				height: 281.5rem;
				background: url(../img/banner/slide_bottom_line.svg) no-repeat;
				pointer-events: none;
			}

			&::after {
				left: auto;
				right: -120rem;
				transform: scale(-1,1);
			}
		}
	}

	.scroll_down {
		font-family: inherit;
		font-size: 18rem;
		font-weight: 500;
		background: none;
		border: none;
		outline: none;
		color: $color_white;
	}

	&_bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: auto;
		z-index: -1;

		video,
		img {
			display: block;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 200rem;
			background: linear-gradient(to top, #0e0e0e 30%, transparent 100%);
			pointer-events: none;
		}
	}
}