.banner {

	.swiper {
		overflow: visible;

		.container {
			position: relative;
			flex-grow: 1;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			max-width: 1722rem;
			height: 100%;
		}

		&-button {

			&-prev,
			&-next {
				position: relative;
				top: unset;
				left: unset;
				right: unset;
				margin: 0;
			}
		}

	}

	.slide {
		position: relative;
		display: flex;
		flex-direction: column;
		// min-height: 100vh;

		&__list {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 40rem;
			align-self: flex-start;
			max-width: 295rem;
			margin: 20.2% 10rem 0 0;
			padding: 0;

			li {
				display: flex;
				align-items: center;
				font-family: AkzidenzGroteskPro, sans-serif;
				font-weight: 700;
				font-size: 18rem;
				line-height: 23rem;
				letter-spacing: 0.5rem;
				text-transform: uppercase;
			}

			.num {
				min-width: 23rem;
				text-align: center;
				margin-left: -8rem;
				margin-right: 27rem;
				font-family: EuclidCircularA, sans-serif;
				leading-trim: both;
				text-edge: cap;
				background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 150%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}

			.line {
				position: absolute;
				top: -184rem;
				right: -131rem;
				width: 547rem;
				height: 581rem;
				pointer-events: none;

				svg {
					display: block;
					width: 100%;
				}
			}
		}

		&__inner {
			max-width: 752rem;
			margin-top: 750rem;
		}

		&__title {
			margin: 0 0 28rem;
			text-transform: uppercase;

			span {
				color: $color_pink;
			}
		}

		&__text {
			align-self: flex-start;
			max-width: 307rem;
			margin-right: 8rem;
			margin-top: 18%;
			font-size: 28rem;
			line-height: 36rem;

			strong,
			span {
				font-weight: 600;
				color: $color_pink;
			}
		}
	}

	&__bottom {
		position: relative;
		margin-top: -7rem;
		padding-bottom: 190rem;
		z-index: 2;

		.container {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 100%;

			&::after,
			&::before {
				content: '';
				position: absolute;
				top: -33rem;
				left: -120rem;
				width: 979rem;
				height: 281.5rem;
				background: url(../img/banner/slide_bottom_line.svg) no-repeat;
				pointer-events: none;
			}

			&::after {
				left: auto;
				right: -120rem;
				transform: scale(-1,1);
			}
		}
	}

	// .scroll_down {
	// 	font-family: inherit;
	// 	font-size: 18rem;
	// 	font-weight: 500;
	// 	background: none;
	// 	border: none;
	// 	outline: none;
	// 	color: $color_white;
	// }

	&_bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: auto;
		z-index: -1;
		pointer-events: none;

		video,
		img {
			display: block;
			pointer-events: none;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 200rem;
			background: linear-gradient(to top, #110f0f 30%, transparent 100%);
			pointer-events: none;
		}
	}
}

@media (max-width: 48em) {
	.banner {
		margin-bottom: 124rem;

		.swiper {
			.container {
				flex-direction: column;
			}
			.swiper_buttons {
				flex-direction: row;
				position: static;
				margin-top: 58rem;
			}

		}

		.slide {
			&__list {
				max-width: 211rem;
				gap: 10.8rem;
				padding: 73rem 0 30rem;
				margin: 70rem 0 44rem;

				.line {
					top: 0;
					right: 0;
					width: 237rem;
					height: 264rem;
				}

				.num {
					max-width: 20rem;
					font-size: 15rem;
					margin-right: 5rem;
					margin-left: -2rem;
				}

				li {
					font-size: 12rem;
					line-height: 16rem;
				}
			}

			&__inner {
				margin-top: 45rem;
			}

			&__title {
				margin-bottom: 34rem;
				font-size: 22rem;
				line-height: 28rem;
			}

			&__text {
				position: absolute;
				bottom: -6rem;
				right: 0;
				max-width: 161rem;
				margin: 0;
				padding-right: 20rem;
				font-size: 15rem;
				line-height: 20rem;
			}
		}

		&__bottom {
			margin-top: 37rem;
			padding: 0;

			.container {
				&::before {
					top: -20rem;
					left: auto;
					right: 0;
					width: 100%;
					height: 100rem;
					background-position-x: right;
					background-image: url(../img/banner/slide_bottom_line_mob.svg);
				}
				&::after {
					content: none;
				}
			}
		}

	}
}