.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 43rem;
	z-index: 99;

	.line {
		margin-top: -9rem;
	}

	.container {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	nav {
		margin-bottom: 48rem;
		margin-left: 65rem;
	}

	.nav {
		display: flex;
		align-items: center;
		gap: 41rem;
		font-weight: 500;
		font-size: 18rem;
		line-height: 1.28;
		text-transform: lowercase;
	}
}