.section {
	&__title {
		font-size: 45rem;
		line-height: 129%;
		font-family: AkzidenzGroteskPro;
		font-weight: 700;
		text-transform: uppercase;
	}
}

@media (max-width: 48em) {
	.section {
		&__title {
			font-size: 22rem;
			line-height: 129%;
		}
	}
}