@keyframes arrow_move {
	1% {
		width: 27rem;
	}
	25% {
		width: 50rem;
	}
	50% {
		width: 27rem;
	}
	75% {
		width: 50rem;
	}
}

.swiper {

	&_control {
		display: flex;
		align-items: center;
		position: relative;
		padding: 0 27rem;

		.swiper-button-next,
		.swiper-button-prev {
			position: relative;
			top: unset;
			right: unset;
			bottom: unset;
			left: unset;
			margin: 0;
		}
	}

	&_buttons {
		max-width: 1621rem !important;
		bottom: 152rem;
	}

	&-button {

		&-prev,
		&-next {
			width: 100rem;
			height: 30rem;
			font-weight: 500;
			font-size: 18rem;
			line-height: 23rem;
			color: #fff;
			user-select: none;
			background: none;
			border: none;
			outline: none;
			font-family: inherit;

			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 100%;
				display: block;
				width: 27rem;
				height: 21rem;
				background: url(../img/icons/arrow.svg) no-repeat center/contain;
				transform: translateY(-50%);
				transition: 300ms;
			}

			&:hover {
				&::after {
					animation: arrow_move 2s linear infinite;
				}
			}
		}

		&-prev {
			&::after {
				left: auto;
				right: 100%;
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
}

@media (max-width:48em) {
	.swiper {

		&_buttons {
			max-width: 321rem !important;
		}
		&-button {

			&-prev,
			&-next {
				width: 80rem;
				height: 25rem;
				font-size: 15rem;
				line-height: 23rem;
			}
		}
	}
}